<h1>Products</h1>
<%= link_to 'New', new_product_path(@product) %>


<!-- ~~~~~ -->
<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "search" %>
		<% end %>
<div id="products">
	<%= render @products %>
</div>
